@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Espaço para var*/




/* Fim do Espaço para var */

body {
    font-family: "Libre Franklin", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.quebra-mobile{
    display: block;
}


/*Header */
/*
IDs: 
header-title
----------------
Classes: 
header-box-menu
*/

.gradient {
    background: linear-gradient(135deg, #3279E2 0%, #CACAEB 100%);
}


/* Inicio do Header */

header {
    padding-top: 1rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: #fff;

}

.header-box-menu i {
    color: #fff;
    border: 1px solid #fff;
    padding: 0.7rem;
    border-radius: 1px;
}

.header-box-menu {
    width: 3rem;
    height: 3rem;
}

/*Fim do Header*/


/*Inicio do hero */

/*
IDs: 
hero
hero-btn
hero-img-box
hero-img-box-mobile
------------------------
Classes:  
hero-header-subtitle
hero-header-title
hero-header-description
*/

#hero {
    padding-top: 1.625rem;
}

#hero-header {
    display: flex;
    flex-direction: column;
}

.hero-header-subtitle {

    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 3px;
    color: #AAC4EA;
}

.hero-header-title{
    margin-top: 1.125rem;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: -1px;
    color: #fff;
}

.hero-header-description{
    margin-top: 0.8125rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0px;
    opacity: 0.53;
    color: #fff;
}

#





/*Fim do hero */