@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Espaço para var*/




/* Fim do Espaço para var */

body {
      font-family: "Libre Franklin", sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}


/*Header */
/*
IDs usados: 
header-title
----------------
Classes Usadas: 
header-box-menu
*/ 

.gradient{
    background: linear-gradient(to right, #3279E2, #CACAEB);
}

.branco{
    background-color: #fff;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-title{
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: #fff;

}

.header-box-menu i{
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    
}

/*Fim do Header*/
